@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.logo {
  display: inline-block;
  max-width: 181px;
}

.logo img {
  width: 100%;
}

.phone {
  display: inline-block;
  padding-left: 35px;
  height: 26px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  background: url("../img/icon/phone.svg") 0 0 no-repeat;
}

.services-description {
  max-width: 460px;
}

.services-description__title {
  border-left: #F48C0C solid 5px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 31px;
  line-height: 42px;
  margin-bottom: 30px;
}

.services-description__title span {
  font-weight: 600;
}

.services-description__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
}

.services-description__subtitle span {
  font-weight: 600;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 22px;
          column-gap: 22px;
  row-gap: 20px;
}

.services-list__item {
  max-width: 138px;
  padding-left: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background: url("../img/icon/checked.svg") 0 3px no-repeat;
}

.footer__email-company a {
  color: #FFFFFF;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.footer__email-company a:hover {
  color: #F48C0C;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-next {
  display: inline-block;
  background: #F48C0C;
  padding: 20px 40px;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-next:hover {
  background: #EA8202;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-next:active {
  background: #E07800;
}

.button-next__decor {
  position: relative;
}

.button-next__decor::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 9px;
  height: 2px;
  background-color: #ffffff;
  top: 9px;
  right: -12px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  border-radius: 1px;
}

.button-next__decor::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 9px;
  height: 2px;
  background-color: #ffffff;
  top: 13px;
  right: -12px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 1px;
}

.button-back {
  border: 2px solid #F48C0C;
  padding: 20px 40px;
  font-weight: 600;
  font-size: 16px;
  color: #F48C0C;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-back:hover {
  background: rgba(244, 140, 12, 0.05);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button-back:active {
  background: rgba(244, 140, 12, 0.15);
}

.button-back__decor {
  position: relative;
}

.button-back__decor::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 9px;
  height: 2px;
  background-color: #F48C0C;
  top: 8px;
  left: -12px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 1px;
}

.button-back__decor::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 9px;
  height: 2px;
  background-color: #F48C0C;
  top: 12px;
  left: -12px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  border-radius: 1px;
}

@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaPT-Light.woff") format("woff");
}

body {
  font-family: 'Futura';
  color: #FFFFFF;
  letter-spacing: 0.5px;
}

.thanks {
  background: #323338;
  width: 100%;
  height: 100vh;
}

.thanks__container {
  max-width: 994px;
  height: 100vh;
  margin: 0 auto;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thanks__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-thanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #232429;
  -webkit-box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.15);
  width: 994px;
  height: 600px;
  padding: 24px;
  gap: 24px;
}

.body-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 657px;
  gap: 30px;
}

.body-block h1 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px;
}

.body-block_title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}

.body-block__subtitle {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}

.body-block__subtitle span {
  font-weight: 400;
}

.body-block__terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 435px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.body-block__terms h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 15px;
}

.body-block__terms p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.list-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: start;
  gap: 20px;
}

.list-body__item {
  font-weight: 400;
  font-size: 16px;
  padding-left: 25px;
  background: url("../img/icon/checked.svg") 0 0 no-repeat;
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 57px;
  background: #323338;
  border: 1px solid #F48C0C;
}

.footer-body__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.footer-body__text p {
  margin-bottom: 3px;
}

.footer-body__text span {
  font-weight: 600;
}

.footer-body__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-body__button::after {
  content: '';
  width: 15px;
  height: 13px;
  margin-left: 5px;
  background: url("../img/thanks/Vector.svg") 0 0 no-repeat;
}

.column-block {
  position: relative;
  width: 267px;
  height: 100%;
  background: rgba(40, 41, 46, 0.85);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.column-block__picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.column-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: rgba(40, 41, 46, 0.85);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 24px;
}

.column-block__photo {
  margin-bottom: 10px;
}

.column-block__name {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.column-block__position {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.footer-thanks__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
}
