@import "_nullstyle";
@import "_сomponents";

@font-face {
   font-family: 'Futura';
   src: url("../fonts/FuturaPT-Light.woff") format('woff');
}
// @media (min-width: 1023px) {
body {
   font-family: 'Futura';  
   color: #FFFFFF;
   letter-spacing: 0.5px;
}
.thanks {
   background: #323338;
   width: 100%;
   height: 100vh;
		&__container {
         max-width: 994px;
         height: 100vh;
         margin: 0 auto;
         padding: 10px 0;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
		}

		&__header {
         display: flex;
         justify-content: space-between;
		}
}
.block-thanks {
   display: flex;
   background: #232429;
   box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.15);
   width: 994px;
   height: 600px;
   padding: 24px;
   gap: 24px;
}
.body-block {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 657px;
   gap: 30px;
      h1 {
         font-weight: 700;
         font-size: 24px;
         letter-spacing: 2px;
      }
		&_title {
         font-weight: 600;
         font-size: 18px;
         letter-spacing: 1px;
		}

		&__subtitle {
         font-weight: 600;
         font-size: 18px;  
         letter-spacing: 1px;
         span {
            font-weight: 400;
         }
		}

		&__terms {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 435px;
         flex: 1 1 auto;
         text-align: center;
         h2 {
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 15px;
         }
         p {
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
         } 
		}
}
.list-body {
   display: flex;
   flex-direction: column;
   align-self: start;
   gap: 20px;
		&__item {
         font-weight: 400;
         font-size: 16px;
         padding-left: 25px;
         background: url('../img/icon/checked.svg') 0 0 no-repeat;
		}
}
.footer-body {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 57px;
   background: #323338;
   border: 1px solid #F48C0C;
		&__text { 
         display: flex;
         flex-direction: column;
         justify-content: center;
         padding: 20px 10px;
         font-weight: 400;
         font-size: 12px;
         line-height: 15px;
         p {
            margin-bottom: 3px;
         }
         span {
            font-weight: 600;
         }
		}

		&__button {
         display: flex;
         align-items: center; 
         &::after {
            content: '';
            width: 15px;
            height: 13px;
            margin-left: 5px;
            background: url('../img/thanks/Vector.svg') 0 0 no-repeat;
         }
		}
}
.column-block {
   position: relative;
   width: 267px;
   height: 100%;
   background: rgba(40, 41, 46, 0.85);
   backdrop-filter: blur(3px);
   &__picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
      &__content {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         height: 100%;
         background: rgba(40, 41, 46, 0.85);
         backdrop-filter: blur(3px);
         padding: 24px;
      }

		&__photo {
         margin-bottom: 10px;
		}

		&__name {
         font-weight: 600;
         font-size: 14px;
         letter-spacing: 1px;
         margin-bottom: 5px;
		}

		&__position {
         font-weight: 400;
         font-size: 12px;
         line-height: 15px;
         text-align: center;
		}
}
.footer-thanks {
		&__container {
         display: flex;
         justify-content: space-around;
         font-weight: 400;
         font-size: 10px;
         line-height: 13px;
		}
}
// }